*{
    padding: 0;
    margin: 0;
}
#body{
font-family: sans-serif;
background: linear-gradient(135deg,#0e0717,#000);

}
.Big{
background: linear-gradient(135deg,#153677,#601672,#601672);;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;



}
#imgv ,#canvas{
    width: 500px;
    height: 450px;
    object-fit: contain;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
   
}
#image ul li label{
    direction: rtl;

}
.LL{
    flex-direction: column;
   
    margin-top: 5px;
  display: flex;
  gap: 8px;

}
label{
    color: #fff;
    font-weight: 600;
    
    font-size: 17px;
    padding: 2px;
}
#potn{
margin-left: 205px;
margin-top: 8px;
padding:7px 15px;

border: 1px solid #000;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
font-weight: 700;
box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
letter-spacing: 1px;
color: #fff;
background:  linear-gradient(135deg,#153677,#4e085f)  ;



}
#potn:focus{
    background-color: #000;
    color: #fff;
    transform: scale(1.1);
    transition: 0.5s;
}
#potn2{
    padding:7px 15px;
    border: 1px solid #000;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    letter-spacing: 1px;
    color: #fff;
    background:  linear-gradient(135deg,#153677,#4e085f)  ;
    display: flex;
    font-weight: 700;
    flex-direction: row;
   justify-content: space-between;

}
#potn2:focus{
    background-color: #000;
    color: #fff;
    transform: scale(1.1);
    transition: 0.5s;
}
#potn3{
    padding:7px 15px;
    border: 1px solid #000;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    letter-spacing: 1px;
    color: #fff;
    background:  linear-gradient(135deg,#153677,#4e085f)  ;
    display: flex;
    font-weight: 700;
    flex-direction: row;
   justify-content: space-between;



}
#potn3:focus{
    background-color: #000;
    color: #fff;
    transform: scale(1.1);
    transition: 0.5s;
}
@media screen and (max-width:650px){
.img img ,#canvas{
max-width: 80vw;
}
.manegment{
    margin-top: 30px;
}


}